body {
  background-color: #6f96a2;
  color: white;
  text-align: center;
  font-family: "Handlee", cursive;
}

h2,
h3 {
  font-size: 37px;
  padding-top: 20px;
}

h3 {
  padding: 17px;
}

h4 {
  font-size: 27px;
}

h6 {
  font-style: italic;
  font-size: 12px;
}

.current-weather-container {
  display: block;
  margin: 30px auto;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
}

.forecast-container {
  display: block;
  margin: 30px auto;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.city-search {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: none;
  width: 350px;
  color: #6f96a2;
}

.current-button {
  margin-top: 21px;
  margin-left: 30px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: none;
  border: none;
  padding: 3px 20px;
}

.weather-icon {
  width: 120px;
}

.main-temperature {
  font-size: 60px;
}

.unit-metric {
  font-size: 25px;
  position: relative;
  bottom: 20px;
}

.description {
  text-transform: capitalize;
}

.weather-data {
  list-style-type: none;
  padding-left: 0px;
}

.weekly-forecast {
  text-align: center;
  padding-bottom: 20px;
}

.forecast-weekday {
  font-size: 20px;
}

.forecast-temp-min {
  color: rgba(255, 255, 255, 0.5);
}
